
#admin-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#admin-topbar {
    flex-grow: 0;
}

#admin-sidebar {
    flex-grow: 0;
    height: 100%;
    overflow-x: hidden;
    position: relative;

    aside {
        position: relative;

        &:before {
            position: absolute;
            background-color: #37474F;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: "";
        }
    }

    * {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    *[role="button"]:hover,
    *[role="button"].active {
        color: #B3E5FC;
    }

    ul {
        padding: 0;
    }

    li[role="button"] {
        border-left: 2px solid #37474F;
    }

    li[role="button"].active {
        border-left: 2px solid #03A9F4;
    }

    > div {
        height: 100%;
    }
}

#admin-content {
    height: 100%;
    flex-grow: 1;
}
